<html>
    <head></head>
    <body style = "margin: 0;">
        <%- include('3Dviewer') %>
    </body>
</html>
<link rel="stylesheet" href="/css/style.css">
<script type="module" src="/js/bundle.js"></script>
